.login-form-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.login-form {
    display:flex;
    flex-direction:column;
}
.login-form-container>h2 {
    color:#ECA869;
    font-size:2rem;
    -webkit-text-stroke:0.7px #6C00FF;
    text-stroke: 0.7px #6C00FF;
}
.login-form > input {
    border:2px solid #6C00FF;
    color: #B08BBB ;
    width: fit-content;
    background-color: transparent;
    font-size:1.5rem;
    font-family: 'Spicy Rice';
   color:#ECA869;
   -webkit-text-stroke:0.7px #6C00FF;
   text-stroke: 0.7px #6C00FF;
}
.login-form > select {
    border:2px solid #6C00FF;
    color: #B08BBB ;
    width: fit-content;
    background-color: transparent;
    font-size:1.5rem;
    font-family: 'Spicy Rice';
   color:#ECA869;
   -webkit-text-stroke:0.7px #6C00FF;
   text-stroke: 0.7px #6C00FF;
}
.login-form > label {

   
    width: fit-content;
    background-color: transparent;
    font-size:1rem;
    font-family: 'Spicy Rice';
   color:#B5D5C5;
   -webkit-text-stroke:1px #6C00FF;
   text-stroke: 1px #6C00FF;
   margin-bottom:1rem;
   margin-top:1rem;
}
.login-btn {
all:unset;
        font-size:1.2rem;
        width:6rem;
        margin-top:0.7rem;
        margin-bottom:0.7rem;
        color: #F5F5DC;
        border-radius:1.2rem;
       border:1px solid #6C00FF;
       text-align:center;
       -webkit-text-stroke:0.8px #6C00FF;
       text-stroke: 0.8px #6C00FF;
       color: #ECA869;
       background: #B5D5C5;
       align-self:flex-end;
    
}
.usermessage {
    color:#B5D5C5;
}