.login-button-header{
    display:grid;
    background-color: #B08BBB;
    font-size:1.2rem;
    width:6rem;
    margin-top:0.7rem;
    margin-bottom:0.7rem;
    color: #F5F5DC;
    border-radius:1.2rem;
   border:1px solid #6C00FF;
   text-align:center;
   -webkit-text-stroke:0.8px #6C00FF;
   text-stroke: 0.8px #6C00FF;
   color: #ECA869;
   background: #B5D5C5;
}